run-under-name: [regression-baseline]

test-set.min-sentence-length: 4
test-set.max-sentence-length: [15]

lm.sentence-candidates: [0]
rescore.method: [lex-parse]

lm.order: 3
srilm.bin: /Users/sam/src/srilm/bin/macosx
srilm.variant: [kni-unk3]
srilm.model: wwp/prose.clean1.lm.${lm.order}${srilm.variant}.txt

channel.weight: [1.3 1.7 2.0]

clustering.unk-prob: 0

parser.model-prefix: grammar/model.clean1.4to10.c${clustering.n}.em/model.last.tagalpha1
parser.tag-counts-file: ${parser.model-prefix}.cnt
parser.tag-model-alpha: 1
parser.lex-counts-file: ${parser.model-prefix}.lcnt
parser.lex-model-alpha: 1
parser.lex-model-lambda: 0.5
parser.marginal-probability: F

overwrite-output-dir: false
data-root: /Users/sam/thesis-data
temp-root: /Users/sam/thesis-data/temp
output-root: /Users/sam/thesis-data/output
test-set.name: fallriverauthent01will
test-set.part: 
test-set.file: alignment/fallriverauthent01will.salign
output-file: fallriverauthent01will.corr
dictionary.file: wwp/prose.train.clean1.vocab.txt
dictionary.max-matches: 100
channel.model-dir: channelmodel
channel.model-em-steps: 1
channel.model: channelmodel/for-doc-fallriverauthent01will.1.javaobj
channel.beam-width: 3
lattice.word-candidates: 20
lattice.max-word-merges: 1
lattice.max-punctuation-merges: 3
lattice.allow-free-dehyphenation: true
clustering.n: 100
clustering.caseless: cl
clustering.punctuation: ip
clustering.file: clustering/prose.train.clean1.cl.ip-c100-p1.out/paths
rescore.log-linear-mix: false
rescore.normalize: false
rescore.weight: 0.0
tag-ngram.model: tagngram/prose.train.clean1.c100.cl.ip.lm.7wb.txt
tag-ngram.order: 3
tag-ngram.generate-fully: true
